.App{
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: black;
  overflow: hidden;
  scrollbar-arrow-color: red;
  color: white;
}

#hurtsthemost{
  position: absolute;
  right: 100vw;
  width: 700px;
  height: 550px;
  animation: slideright 30s linear 3s 1 forwards;
}
#incaseyoudidntknow{
  position: absolute;
  right: 100vw;
  width: 700px;
  height: 550px;
  animation: fadeout 30s linear 33s 1 forwards;
}

@keyframes slideleft{
  0%{
    top: 0px;
    left: 120vw;
    opacity: 1;
  }
  50%{
    top: 50vh;
    left: 50vw;
    opacity: 1;
  }
  100%{
    top: 0px;
    left: -80vw;
    opacity: 0;
  }
}
@keyframes fadeout{
  0%{
    top: 40vh;
    left: 40vw;
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes slideright{
  0%{
    top: 0px;
    right: 120vw;
    opacity: 1;
  }
  50%{
    top: 50vh;
    right: 50vw;
    opacity: 1;
  }
  100%{
    top: 0px;
    right: -80vw;
    opacity: 0;
  }
}