.App{
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: black;
  scrollbar-arrow-color: red;
  color: white;
}
#mobileAlert{
  position: absolute;
  background-color: purple;
  top: 10vh;
  z-index: 1;
  animation: fadeout 100ms linear 3000ms 1 forwards;
  padding: 0 20px;
}
#headerContainer{
  padding-left: 20px;
  height: 8vh;
}
.headerTitle{
  font-size: 1.6rem;
  font-family: cursive;
  opacity: 0;
}

span:nth-child(1), span:nth-child(6), span:nth-child(12){
  font-size: 2em;
}

#headerContainer span{
  color: #ce4c4c;
}
#headerContainer span:nth-child(1){
  animation: fadein 100ms linear 3000ms 1 forwards;
}
#headerContainer span:nth-child(2){
  animation: fadein 100ms linear 3200ms 1 forwards;
}
#headerContainer span:nth-child(3){
  animation: fadein 100ms linear 3400ms 1 forwards;
}
#headerContainer span:nth-child(4){
  animation: fadein 100ms linear 3600ms 1 forwards;
}
#headerContainer span:nth-child(5){
  animation: fadein 100ms linear 3800ms 1 forwards;
}
#headerContainer span:nth-child(6){
  animation: fadein 100ms linear 4000ms 1 forwards;
}
#headerContainer span:nth-child(7){
  animation: fadein 100ms linear 4200ms 1 forwards;
}
#headerContainer span:nth-child(8){
  animation: fadein 100ms linear 4400ms 1 forwards;
}
#headerContainer span:nth-child(9){
  animation: fadein 100ms linear 4600ms 1 forwards;
}
#headerContainer span:nth-child(10){
  animation: fadein 100ms linear 4800ms 1 forwards;
}
#headerContainer span:nth-child(11){
  animation: fadein 100ms linear 5000ms 1 forwards;
}
#headerContainer span:nth-child(12){
  animation: fadein 100ms linear 5200ms 1 forwards;
}
#headerContainer span:nth-child(13){
  animation: fadein 100ms linear 5400ms 1 forwards;
}
#headerContainer span:nth-child(14){
  animation: fadein 100ms linear 5600ms 1 forwards;
}
#headerContainer span:nth-child(15){
  animation: fadein 100ms linear 5800ms 1 forwards;
}
#headerContainer span:nth-child(16){
  animation: fadein 100ms linear 6000ms 1 forwards;
}
iframe{
  height: 25vh;
  width: 100vw;
}
img{
  height: 67vh;
  width: auto;
}
#hidden{
  display: none;
}
[id^="text"]{
  font-family: cursive;
  color: purple;
  font-size: 3rem;
  padding: 20px;
  transition: ease-in-out;

}
[id*="iloveyou"]{
  color: red;
  animation: fadeout 100ms linear 5000ms 1 forwards;

}
#pachabel{
  position: absolute;
  left: 100vw;
  
}
#winky-face{
  width: 100%;
  max-width: 300px;
  height: auto;
}